credits - brought to you by Nebula Tech, now go f\127\127uck yourself.
dontask - dont f\127\127ucking ask where do you get that admin, you can't get it you f\127\127ucking froob, if you do you will be crashed.
read - You have to read the rules :P
agree - If you don't agree to the rules you will be kicked
silence - If you talk while reading the rules you will be kicked
0bama - Black poeple can have power
H4z3 - All new members must fu\127\127ck Ultimatekiller010 up the a\127\127s\127\127s
L0v3 - Kiss Basscans
Nob - Do not bother us
angrissuesz - If you kill us more than 1 time I swear to god I will crash your computer
0. 0 is nothing so this rule is nothing and thus doesn't exist
pray - If you ban any one of the HRs, pray to Jesus that you will be forgiven.
froobs - Call Scriptury a froob
lul - lul means d\127i\127ck (especially in Sweedish), no exceptions
lawl - lawl is lul but it doesnt mean d\127i\127ck
9/11 - No Muslims/Arabs/Terrorists allowed (no 9/11s)
cereal - Please do not be serious
brainwashed - No religion extremists
f\127\127ags - No homophobia
f\127\127aggots - If you say fa\127\127ggot or fa\127\127g around Basscans since he is ga\127\127y, you will be fuc\127\127king terrorized.
1. You must follow the rules.
pr0\127\127n - All p\127\127orn belongs to us
96. Must have p\127\127orn.
bj - If no p\127\127orn then give us blo\127\127wjo\127\127bs
16. Bring food,snacks,and drinks ~ thnx ult (the fat\127\127ass when it comes to food :P)
you - You are a lo\127\127oser and you su\127\127ck big fat d\127\127ic\127k
h\127\127ell - if you believe in he\127\127ll then you go there
d\127i\127ck - You have to be a d\127i\127ck and admin to troll people
skrillex - Skrillex is a piece of sh\127\127it, and needs to die in a hole. His dubstep sounds like an old man farting vigourously.
rankup - Wow, you actually read the rules! Well, if you want a rank up join Nebula Tech.